{% extends "base.html" %}
{% block content %}

<div class="card">

<h1>{{ title }}</h1>

<table>
    <thead>
        <tr>
            {% for key in data.0.keys %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for row in data %}
        <tr>
            {% for key, value in row.items %}
                <td>
                    {% if key == "Год" or key == "Количество" %}
                        {{ value|floatformat:0 }}
                    {% elif value|stringformat:"f" %}
                        {{ value|floatformat:2 }}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if labels and values %}
    <div style="margin-top:20px;">
        <div style="max-width: 600px; margin: 20px auto;">
        <canvas id="chart"></canvas>
</div>
    </div>
{% endif %}

</div>

{% if labels and values %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
new Chart(document.getElementById('chart'), {
    type: 'bar',
    data: {
        labels: {{ labels|safe }},
        datasets: [{
            label: 'Количество',
            data: {{ values|safe }},
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                display: false
            }
        }
    }
});
</script>
{% endif %}

{% endblock %}